<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientid</key>
	<string>ff824670-6275-4f16-a0a0-32008c34abf7</string>
	<key>domainoauth</key>
	<string>aac0846.my.idaptive.app</string>
	<key>loginurl</key>
	<string>aac0846.my.idaptive.app</string>
	<key>systemurl</key>
	<string>aac0846.my.idaptive.app</string>
	<key>applicationid</key>
	<string>TMA_Open_ID</string>
	<key>redirecturi</key>
	<string>sma://aac0846.my.idaptive.app/android/com.mainevent.wrapsma/redirectURICallback</string>
	<key>scope</key>
	<string>openid profile</string>
	<key>threshold</key>
	<integer>0</integer>
	<key>responsetype</key>
	<string>code</string>
	<key>widgetid</key>
	<string>e08f61fb-c555-41f4-9e08-549749a294fa</string>
	<key>mfatenanturl</key>
	<string>aac0846.my.idaptive.app</string>
	<key>authwidgethosturl</key>
	<string>https://aac0846.my.idaptive.app/</string>
	<key>authwidgetid</key>
	<string>e08f61fb-c555-41f4-9e08-549749a294fa</string>
	<key>resourceurl</key>
	<string>sma://aac0846.my.idaptive.app/android/com.mainevent.wrapsma/resourceURLCallback</string>
</dict>
</plist>
