<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientid</key>
	<string>7f0376f6-217f-42ad-bdd4-4bb885d47515</string>
	<key>domainoauth</key>
	<string>https://aac0846.my.idaptive.app</string>
	<key>loginurl</key>
	<string>NA</string>
	<key>systemurl</key>
	<string>https://aac0846.my.idaptive.app</string>
	<key>applicationid</key>
	<string>TMA_Open_ID_iOS</string>
	<key>redirecturi</key>
	<string>sma://com.mainevent.wrapsma/redirectcallback</string>
	<key>scope</key>
	<string>openid profile</string>
	<key>threshold</key>
	<integer>0</integer>
	<key>responsetype</key>
	<string>code</string>
	<key>widgetid</key>
	<string>NA</string>
	<key>mfatenanturl</key>
	<string>NA</string>
	<key>authwidgethosturl</key>
	<string>https://aac0846.my.idaptive.app/</string>
	<key>authwidgetid</key>
	<string>bc5e5170-469c-4bdd-b6e2-e444e07f0ac5</string>
	<key>resourceurl</key>
	<string>sma://com.mainevent.wrapsma/resourcecallback</string>
</dict>
</plist>
